<div class="container">
    <div class="bg-light p-5 rounded">
      <h1>Test</h1>
      <p class="lead">Test</p>
      <button class="btn btn-lg btn-primary" (click)="metamaskButtonClick()" role="button" [disabled]="metamask_button.disabled">{{metamask_button.text}}</button>
      <br><br>
      <button class="btn btn-lg btn-success" (click)="getAccounts()" role="button" [disabled]="accounts_button.disabled">{{accounts_button.text}}</button>
      <br><br>
      <p>{{accounts}}</p>
    </div>
  </div>